* {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif; 
}
.html {
  margin: 0;
  min-height: 100%;
}
.body {
  background: linear-gradient(120deg, #fd5c63, #c30b03);
  animation: fadeInAnimation ease 2.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Scrollbars */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white black;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: black;
  
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 12px;
  border: 3px solid white;
}
.center {
  margin: 0 auto 0 auto;
  width: 60%;
  border: 1px rgb(31, 17, 17) solid;
}
.main {
  /* text-align: center; */
  margin-top: 36px;
  border-radius: 40px;
  padding: 6px;
}
.app-header {
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
}
.row-1 {
  margin: 12px auto 12px auto;
  text-align: center;
}
.name {
  /* width: 100%; */
}
.label-name {
  display: inline;
}
.input-name {
  width: 80%;
}
.row-2 {
  margin: 12px auto 12px auto;
  text-align: center;
}

.date {
  display: inline-block;
  width: 45%;
}

.label-date {
  /* margin-left: 24px; */
}
.input-date {
  width: 60%;
}
.amount {
  display: inline-block;
  width: 45%;
}
.label-amount {
  
}
.input-amount {
  width: 60%;
}

#buttons {
  margin: 24px 0 12px 0;
  /* padding-top: 24px; */
  position: relative;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.hidden {
  display:none
}

/* Table styling */
table { 
  margin-top: 24px !important;
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  border-radius: 40px;
  border-spacing: 0px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-collapse: separate;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th, td {
  padding: 5px 4px 6px 4px; 
  text-align: left;
  vertical-align: top;
  border-left: 1px solid #ddd;    
}
td {
  border-top: 1px solid #ddd;    
}
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

/* .expense-table {
  margin-top: 24px;
  padding: 0 18px 0 8px;
  /* -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border: 1px rgb(31, 17, 17) solid;
  border-radius: 40px; */
  padding: 6px;
}
.table-row {
  padding: 8px;
} */
