* {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif; 
}
.html {
  margin: 0;
  min-height: 100%;
}
.label {
  /* float: left; */
}
.input {
  /* float: left; */
}
.center {
  margin: 0 auto 0 auto;
  width: 60%;
  border: 1px rgb(31, 17, 17) solid;
  border-radius: 40px;
  padding: 6px;
}
.main {
  /* text-align: center; */
  margin-top: 36px;
}
.app-header {
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
}
.row-1 {
  margin: 12px auto 12px auto;
  text-align: center;
}
.name {
  /* width: 100%; */
}
.label-name {
  display: inline;
}
.input-name {
  width: 80%;
}
.row-2 {
  margin: 12px auto 12px auto;
  text-align: center;
}

.date {
  display: inline-block;
  width: 45%;
}

.label-date {
  /* margin-left: 24px; */
}
.input-date {
  width: 60%;
}
.amount {
  display: inline-block;
  width: 45%;
}
.label-amount {
  
}
.input-amount {
  width: 60%;
}

.btn-add-expense {
  margin: 24px 0 12px 0;
  position: relative;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}